*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
html{
  font-size: 62.5%;
}
body{
  background: rgb(3, 0, 31);
  color: white;
  font-family: "Poppins", sans-serif;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.sideBar{
  flex: 2;
  border-right: 1px solid rgb(100, 100, 100);
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: rgb(3, 0, 31);
  padding: 2rem;
}
.upperSide{
  border-bottom: 1px solid rgb(100, 100, 100);
  height: 70%;
}
.upperSideTop{
  display: flex;
  align-items: center;
  margin-bottom:2.5rem;
}
.addBtn{
  padding-right: 1rem;
  height: 2rem;
}
.midBtn{
  background: #5A4BFF;
  border: none;
  border-radius: 5px;
  padding: 1.5rem;
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.query{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
  cursor: pointer;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  border-radius: 0.5rem;
  width: 25rem;
  padding: 1.5rem;
  margin: 1rem auto;
}
.query > img{
  margin-right: 1.75rem;
  object-fit: cover;
  height: 1.75rem;
}
.logo{
  margin-right: 1rem;
}
.brand{
  font-size: 2.5rem;
}
.lowerSide{
  padding: 2rem;
}
.listItems{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.listItems > img{
  padding-right: 1rem;
  margin-right: 1rem;
}
.listItems:nth-child(2){
  margin-top: 2rem;
}
.listItems:nth-child(3){
  margin-top: 2rem;
}
.listItems:nth-child(1)>.listItemsImg{
  margin-right: 0.5rem;
}
.listItems:nth-child(3)>.listItemsImg{
  margin-right: 0.8rem;
}
.main{
  flex: 10;
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0;
}
.chats{
  overflow-y: scroll;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 17rem);
}
.chat{
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}
.bot{
  background: rgba(28,30,58,1);
  width: fit-content;
  border-radius: 0.5rem;
}
.chatimg{
  height:3.3rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
}
.chatFooter{
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
.inp{
  padding: 0.5rem;
  background: rgba(28,30,58,1);
  display: flex;
  align-items: center;
  width: 68rem;
  border-radius: 0.5rem;
}
.inp>input{
  width: calc(100% - 3rem);
  outline: none;
  color: white;
}
.inp>input, send{
  background: transparent;
  border: none;
}
.txt{
  line-height: 2.4rem;
  color: rgba(222, 222, 222, 1);
}